@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  letter-spacing: -0.05em;
  font-family: "Nanum Gothic", sans-serif;
  color: #222;
  min-width: 1152px;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
}

.group-flex1, .group-flex2, .group-flex6, .group-flex7, .inner-wrap {
  width: 1152px;
  margin: 0 auto;
}

#u_skip {
  position: relative;
  z-index: 3000;
}

#u_skip a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #4ec53d;
  background: #333;
  text-align: center;
}

#u_skip a:active,
#u_skip a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

#u_skip span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}

.header .group-flex1 {
  display: flex;
  justify-content: space-between;
}
.header .group-flex1 .logo a::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 105px;
  height: 27px;
  margin-top: 8px;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -5px -165px;
}
.header .gnb-area {
  margin-right: auto;
  margin-left: 62px;
}
.header .gnb-list {
  display: flex;
}
.header .gnb-item + li {
  margin-left: 20px;
}
.header .gnb-item a {
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  font-weight: 700;
}
.header .gnb-item a:hover {
  color: #2292e9;
}
.header .login-area {
  display: flex;
}
.header .login-area a {
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  font-weight: 700;
  padding: 0 10px;
}
.header .login-area a:hover {
  color: #2292e9;
}
.header .group-flex2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #fff;
  height: 120px;
}
.header .group-flex2 .logo a::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 178px;
  height: 51px;
  margin: 38px 0 30px;
  background-image: url(../images/sp-logo-bg.png);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 0 0;
}
.header .search-area {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -245px;
}
.header .search-area .search-wrap {
  position: relative;
  width: 460px;
  height: 42px;
  border: 3px solid #2292e9;
  box-sizing: border-box;
}
.header .search-area .input-text {
  float: left;
  width: calc(100% - 42px);
  border: 0;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
}
.header .search-area .input-text::-moz-placeholder {
  color: #2292e9;
}
.header .search-area .input-text:-ms-input-placeholder {
  color: #2292e9;
}
.header .search-area .input-text::placeholder {
  color: #2292e9;
}
.header .search-area .btn-keyboard {
  position: absolute;
  top: 0;
  right: 42px;
  cursor: pointer;
}
.header .search-area .btn-keyboard::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  background-image: url(../images/keyboard.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header .search-area .btn-submit {
  position: absolute;
  right: 0;
  top: 0;
}
.header .search-area .btn-submit::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -32px -97px;
}
.header .weather-area {
  display: flex;
  margin-top: 34px;
  width: 260px;
  height: 85px;
}
.header .weather-area .thumb-box {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 3px;
}
.header .weather-area .info-box {
  display: inline-block;
  margin-left: 5px;
}
.header .weather-area .info-box a {
  display: block;
}
.header .weather-area .degree {
  font-size: 25px;
  margin-right: 5px;
  font-weight: 700;
}
.header .weather-area .current {
  font-size: 16px;
  letter-spacing: -0.1em;
}
.header .weather-area .info2 {
  margin-top: 7px;
  font-size: 13px;
  letter-spacing: -1px;
}
.header .language-area {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.header .language-area #lang {
  width: 80px;
  height: 21px;
  border: 1px solid #afcfea;
  color: #1E6CB3;
  font-size: 12px;
  padding: 0 0 0 2px;
  box-sizing: border-box;
  line-height: 21px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/select-arrow.png) no-repeat no-repeat 96% center;
  background-size: 8px auto;
}
.header .language-area .btn-lang {
  display: inline-block;
  width: 30px;
  height: 21px;
  font-size: 11px;
  color: #fff;
  border: 0;
  background-color: #1E6CB3;
}

.footer {
  position: relative;
}
.footer .btn-top {
  position: fixed;
  bottom: -100px;
  left: 50%;
  display: block;
  margin-left: 600px;
  opacity: 0;
  transition: 1s;
  z-index: 1000000;
}
.footer .btn-top::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 34px;
  height: 34px;
  background-image: url(../images/top.png);
  background-repeat: no-repeat;
}
.footer .btn-top.active {
  bottom: 98px;
  opacity: 1;
}
.footer .group-flex6 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.footer .link-area {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  color: #636363;
}
.footer .link-area a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  margin: 0 10px;
  vertical-align: -4px;
  background: #dcdcdc;
}
.footer .link-area a:last-child::after {
  display: none;
}
.footer .link-area strong {
  font-weight: 700;
  color: #222;
}
.footer .sns-area {
  display: flex;
}
.footer .sns-area .link-sns + a {
  margin-left: 12px;
}
.footer .sns-area .link-sns::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background-image: url(../images/sp-bg5.png);
  background-repeat: no-repeat;
  background-size: 175px;
  background-position: -25px 0;
}
.footer .sns-area .link-sns:hover::after {
  background-position: -25px -25px;
}
.footer .sns-area .link-sns.twitter::after {
  background-position: -50px 0;
}
.footer .sns-area .link-sns.twitter:hover::after {
  background-position: -50px -25px;
}
.footer .sns-area .link-sns.instagram::after {
  background-position: -75px 0;
}
.footer .sns-area .link-sns.instagram:hover::after {
  background-position: -75px -25px;
}
.footer .sns-area .link-sns.kakao::after {
  background-position: -100px 0;
}
.footer .sns-area .link-sns.kakao:hover::after {
  background-position: -100px -25px;
}
.footer .sns-area .link-sns.youtube::after {
  background-position: -125px 0;
}
.footer .sns-area .link-sns.youtube:hover::after {
  background-position: -125px -25px;
}
.footer .sns-area .link-sns.blog::after {
  background-position: -150px 0;
}
.footer .sns-area .link-sns.blog:hover::after {
  background-position: -150px -25px;
}
.footer .group-flex7 {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  border-top: 1px solid #ccc;
}
.footer .call-area {
  margin-right: 40px;
}
.footer .call-area::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 108px;
  height: 45px;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -180px 0;
}
.footer .addr-area {
  margin-right: auto;
}
.footer .addr-area span {
  display: block;
  padding-bottom: 2px;
  font-size: 12px;
  color: #636363;
}
.footer .mark-area {
  display: flex;
}
.footer .mark-area a + a {
  margin-left: 10px;
}

.sc-title {
  font-size: 24px;
  font-weight: 700;
}

.group-flex3 {
  display: flex;
  justify-content: space-between;
}
.group-flex3 .column-right {
  width: 360px;
}
.group-flex3 .column-right > * + * {
  margin-top: 7px;
}

.sc-visual {
  position: relative;
  width: 770px;
  background-color: #ccc;
  height: 350px;
}
.sc-visual .slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 690px;
  height: 100%;
  background-color: #888;
}
.sc-visual .slide h3 {
  position: absolute;
  top: 0;
  left: -80px;
  width: 80px;
  height: 50%;
}
.sc-visual .slide h3 a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  color: #333;
  background-color: #d2e1e9;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
}
.sc-visual .slide h3 a::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  background-color: #fff;
  background-image: url(../images/sp-bg3.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 0px 0;
  border-radius: 50%;
}
.sc-visual .slide.slide1 .sc-title-tab {
  top: 0;
}
.sc-visual .slide.slide2 .sc-title-tab {
  top: 50%;
}
.sc-visual .slide.slide2 .sc-title-tab a::before {
  background-position: -50px 0;
}
.sc-visual .slide.active {
  z-index: 5;
}
.sc-visual .slide.active h3 a {
  background-color: #0158a8;
  color: #fff;
}
.sc-visual .slide.active h3 a::after {
  content: "";
  position: absolute;
  z-index: 10;
  left: 99%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 32px;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}
.sc-visual .swiper-slide {
  position: relative;
}
.sc-visual .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 122px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sc-visual .slide-control {
  position: absolute;
  right: 5px;
  bottom: 4px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 110px;
  height: 32px;
  border-radius: 16px;
  /* background-color: rgba(0,0,0,.5); */
  box-sizing: border-box;
  z-index: 11;
}
.sc-visual .slide-control::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 66px;
  width: 1px;
  height: 24px;
  background: rgba(255, 255, 255, 0.5);
}
.sc-visual .slide-control > * {
  color: #fff;
}
.sc-visual .slide-control .fraction {
  width: auto;
  margin-right: 20px;
  letter-spacing: -0.025em;
  font-size: 13px;
}
.sc-visual .slide-control .btn {
  width: 18px;
  height: 18px;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -242px -285px;
}
.sc-visual .slide-control .btn.play {
  background-position: -269px -285px;
}
.sc-visual .slide-control .btn.pause {
  background-position: -284px -285px;
}
.sc-visual .slide-control .btn.next {
  background-position: -256px -285px;
}
.sc-visual .slide-control .auto-play {
  margin: 0 3px;
}
.sc-visual .slide-control .auto-play .btn {
  display: none;
}
.sc-visual .slide-control .auto-play .btn.active {
  display: block;
}

.notice-area {
  width: 100%;
  height: 98px;
  background-image: url(../images/corona-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.notice-area .notice-wrap {
  position: relative;
  display: flex;
  height: 100%;
}
.notice-area .notice-box {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 26px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.075em;
}
.notice-area .notice-box.date {
  right: 20px;
  top: 12px;
  left: initial;
  height: 16px;
  margin-left: 25px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.05em;
}
.notice-area .notice-box.new {
  top: 32px;
  width: 105px;
  height: 58px;
  margin-left: -160px;
}
.notice-area .notice-box.last {
  top: 32px;
  width: 105px;
  height: 58px;
  margin-left: -55px;
}
.notice-area .notice-box.total {
  top: 32px;
  width: 110px;
  height: 58px;
  margin-left: 50px;
}
.notice-area .title {
  font-size: 13px;
}
.notice-area .text {
  font-size: 17px;
  margin-top: 2px;
}

.mayor-area {
  position: relative;
}
.mayor-area .link-box {
  position: absolute;
  right: 20px;
  bottom: 12px;
  display: flex;
}
.mayor-area .link-box a + a {
  margin-left: 10px;
}

.sc-service {
  position: relative;
  padding-top: 50px;
}
.sc-service .sc-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}
.sc-service .service-list {
  display: flex;
  text-align: center;
}
.sc-service .service-item {
  flex: 1;
  height: 90px;
}
.sc-service .service-item a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 15px;
}
.sc-service .service-item a::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background-image: url(../images/sp-bg2.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: -360px 0;
}
.sc-service .service-item.complaint a::before {
  background-position: 0 0;
}
.sc-service .service-item.job a::before {
  background-position: -120px 0;
}
.sc-service .service-item.estate a::before {
  background-position: -300px 0;
}
.sc-service .service-item.learn a::before {
  background-position: -180px 0;
}
.sc-service .service-item.welfare a::before {
  background-position: -960px 0;
}
.sc-service .service-item.residence a::before {
  background-position: -780px 0;
}
.sc-service .service-item.youth a::before {
  background-position: -1140px 0;
}
.sc-service .service-item.hand a::before {
  background-position: -1020px 0;
}
.sc-service .service-item.democracy a::before {
  background-position: -60px 0;
}
.sc-service .service-item.council a::before {
  background-position: -600px 0;
}
.sc-service .link-asite {
  position: absolute;
  right: 0;
  top: 50px;
  display: block;
  width: 112px;
  height: 29px;
  line-height: 28px;
  padding-left: 13px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 15px;
  background: url(../images/ic-link.png) no-repeat right 13px top 50%;
}

.sc-corona {
  margin-top: 35px;
  background: #eff4f8;
}
.sc-corona .corona-list {
  display: flex;
}
.sc-corona .corona-item {
  padding: 20px 0;
}
.sc-corona .corona-item a {
  position: relative;
  display: block;
}
.sc-corona .corona-item + li a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 1px;
  height: 60px;
  background: #dbdbdb;
}

.line1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px;
  border-bottom: 2px solid #222222;
}
.line1 > section {
  width: calc((100% - 72px) / 3);
}

.group-flex4 {
  display: flex;
  padding: 50px 0 50px;
  border-bottom: 2px solid #222222;
}
.group-flex4 > * {
  width: calc((100% - 72px) / 3);
}
.group-flex4 > * + * {
  margin-left: 36px;
}

.sc-board {
  position: relative;
}
.sc-board .sc-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #dbdbdb;
}
.sc-board .board-item {
  padding: 6px 0 6px 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sc-board .category {
  margin-right: 9px;
}
.sc-board .category.culture {
  color: #9b64d3;
}
.sc-board .category.work {
  color: #028ab6;
}
.sc-board .category.house {
  color: #c35c3c;
}
.sc-board .category.wel {
  color: #d76000;
}
.sc-board .category.envi {
  color: #599100;
}
.sc-board .btn-more {
  position: absolute;
  right: 0;
  top: 6px;
  width: 22px;
  height: 20px;
  border: 1px solid #ddd;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -1px -1px;
}

.sc-best .sc-title {
  padding-bottom: 10px;
}
.sc-best .best-list {
  display: flex;
  flex-wrap: wrap;
  padding: 17px 5px 7px 20px;
  background: #eff4f8;
}
.sc-best .best-item {
  width: 50%;
  position: relative;
  padding: 0 0 10px 10px;
}
.sc-best .best-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  width: 2px;
  margin-top: -6px;
  background: #666666;
}
.sc-best .best-item a {
  display: block;
  width: 94%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  color: #333;
}

.sc-info {
  padding-top: 40px;
}
.sc-info .sc-title {
  padding-bottom: 20px;
}
.sc-info .info-list {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}
.sc-info .info-item {
  width: 85px;
  height: 145px;
  text-align: center;
}
.sc-info .info-item a {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
}
.sc-info .info-item a::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 85px;
  height: 85px;
  margin: 0 auto 12px;
  background-image: url(../images/ic-house.png);
  background-repeat: no-repeat;
}
.sc-info .info-item.economy a::before {
  background-image: url(../images/ic-economy.png);
}
.sc-info .info-item.traffic a::before {
  background-image: url(../images/ic-traffic.png);
}
.sc-info .info-item.envi a::before {
  background-image: url(../images/ic-environment.png);
}
.sc-info .info-item.welfare a::before {
  background-image: url(../images/ic-welfare.png);
}
.sc-info .info-item.safty a::before {
  background-image: url(../images/ic-safty.png);
}
.sc-info .info-item.culture a::before {
  background-image: url(../images/ic-culture.png);
}
.sc-info .info-item.work a::before {
  background-image: url(../images/ic-work.png);
}

.sc-news {
  position: relative;
  padding: 20px 0 30px;
}
.sc-news .sc-title {
  padding-bottom: 20px;
}
.sc-news .news-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sc-news .news-item {
  width: calc((100% - 60px) / 4);
}
.sc-news .news-item a {
  display: block;
  width: 100%;
}
.sc-news .news-item:nth-child(5n) {
  margin-left: 0;
}
.sc-news .news-item:nth-child(n+5) {
  margin-top: 20px;
}
.sc-news .news-item:last-child .thumb-box {
  overflow: visible;
}
.sc-news .news-item:last-child .thumb-box img {
  transition: none;
}
.sc-news .news-item:last-child .thumb-box:hover img {
  transform: none;
}
.sc-news .thumb-box {
  position: relative;
  display: block;
  width: 100%;
  height: 188px;
  margin-bottom: 15px;
  overflow: hidden;
}
.sc-news .thumb-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
}
.sc-news .thumb-box:hover img {
  transform: scale(1.1);
}
.sc-news .category {
  position: absolute;
  top: 156px;
  width: 82px;
  height: 32px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  z-index: 1;
}
.sc-news .category.work {
  background-color: #028ab6;
}
.sc-news .category.culture {
  background-color: #9b64d3;
}
.sc-news .category.wel {
  background-color: #d76000;
}
.sc-news .category.envi {
  background-color: #599100;
}
.sc-news .title {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5em;
  max-height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  font-size: 16px;
  width: 100%;
  height: 3em;
  line-height: 1.5em;
  margin-bottom: 20px;
  word-wrap: normal;
  word-break: keep-all;
}
.sc-news .link-more {
  position: absolute;
  top: 36px;
  right: 0;
  display: inline-block;
  width: 75px;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 0 -259px;
  font-size: 15px;
  color: #7d7d7d;
}

.group-flex5 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}
.group-flex5 .sc-title {
  padding-bottom: 11px;
}

.sc-video {
  width: 280px;
}
.sc-video .thumb-box {
  position: relative;
  display: block;
  overflow: hidden;
}
.sc-video .thumb-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
}
.sc-video .thumb-box:hover img {
  transform: scale(1.1);
}
.sc-video .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 11px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.sc-notice {
  width: 478px;
}

.notice-item {
  padding: 8px 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  color: #555555;
}

.category {
  font-size: 16px;
  font-weight: 400;
  color: #09ac43;
  margin-right: 18px;
}

.desc {
  color: #555;
}

.sc-sns {
  position: relative;
  width: 350px;
  background-image: url(../images/sns-list.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.sc-sns .sc-title {
  position: absolute;
  top: 10px;
  left: 15px;
  display: inline-block;
  padding-right: 50px;
  font-size: 22px;
  font-weight: 600;
}
.sc-sns .sc-title::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  display: inline-block;
  width: 34px;
  height: 24px;
  background-image: url(../images/sp-bg4.png);
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: -247px 0;
  border-left: 1px solid #878787;
  padding-right: 6px;
}
.sc-sns .link-snspage {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}
.sc-sns .sns-wrap {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 276px;
  height: 40px;
  gap: 3px;
}
.sc-sns .link-sns {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/sp-bg4.png);
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: 0 0;
}
.sc-sns .link-sns.facebook {
  background-position: -40px 0;
}
.sc-sns .link-sns.twitter {
  background-position: -80px 0;
}
.sc-sns .link-sns.blog {
  background-position: -120px 0;
}
.sc-sns .link-sns.youtube {
  background-position: -160px 0;
}
.sc-sns .link-sns.kakao {
  background-position: -200px 0;
}

.sc-popup {
  position: relative;
  padding: 50px 0;
}
.sc-popup .slide-control {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 5px;
  height: 32px;
}
.sc-popup .slide-control-wrap {
  display: flex;
}
.sc-popup .fraction {
  width: auto;
  margin-right: 10px;
}
.sc-popup .btn {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-right: 0;
  overflow: hidden;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
}
.sc-popup .btn.prev {
  background-position: -45px -43px;
}
.sc-popup .btn.next {
  border-right: 1px solid #999;
  background-position: -86px -43px;
}
.sc-popup .btn.play {
  display: none;
  background-position: -101px -43px;
}
.sc-popup .btn.play.active {
  display: block;
}
.sc-popup .btn.pause {
  display: none;
  background-position: -65px -43px;
}
.sc-popup .btn.pause.active {
  display: block;
}
.sc-popup .thumb-box {
  display: block;
  width: 100%;
}
.sc-popup .thumb-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sc-site .site-list {
  position: relative;
  display: flex;
  background-color: #d0d0d0;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.sc-site .site-item {
  width: 33.333%;
  border-left: 1px solid #d0d0d0;
  background: #f7f7f7;
  color: #333;
  text-align: center;
}
.sc-site .site-item:last-child {
  border-right: 1px solid #d0d0d0;
}
.sc-site .site-item > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px 0;
}
.sc-site .site-item > a.active {
  background-color: #e2e2e2;
}
.sc-site .site-item .ic-arrow {
  position: absolute;
  top: 20px;
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-left: 11px;
  border-style: solid;
  border-color: #373737;
  border-width: 0px 2px 2px 0px;
  transform: rotate(-135deg);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}
.sc-site .site-item .ic-arrow.active {
  top: 20px;
  transform: rotate(45deg);
  transform-origin: center center;
}
.sc-site .sub-list-wrap {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 10;
  width: 100%;
}
.sc-site .sub-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px 20px;
  background: #fff;
  border: 1px solid #d0d0d0;
  border-bottom: 0;
  box-sizing: border-box;
}
.sc-site .sub-item {
  width: 25%;
  margin-top: 10px;
  text-align: left;
}
.sc-site .sub-item a {
  color: #555;
}