@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  letter-spacing: -0.05em;
  font-family: "Nanum Gothic", sans-serif;
  color: #222;
  min-width: 1152px;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
}

.group-flex1, .group-flex2, .inner-wrap {
  width: 1152px;
  margin: 0 auto;
}

.header .group-flex1 {
  display: flex;
  justify-content: space-between;
}
.header .logo1 a::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 105px;
  height: 27px;
  margin-top: 8px;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -5px -165px;
}
.header .gnb-area {
  margin-right: auto;
  margin-left: 62px;
}
.header .gnb-list {
  display: flex;
}
.header .gnb-item + li {
  margin-left: 20px;
}
.header .gnb-item a {
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  font-weight: 700;
}
.header .gnb-item a:hover {
  color: #2292e9;
}
.header .login-area {
  display: flex;
}
.header .login-area a {
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  font-weight: 700;
  padding: 0 10px;
}
.header .login-area a:hover {
  color: #2292e9;
}
.header .group-flex2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #fff;
  height: 120px;
}
.header .logo2 a::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 178px;
  height: 51px;
  margin: 38px 0 30px;
  background-image: url(../images/sp-logo-bg.png);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 0 0;
}
.header .search-area {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -245px;
}
.header .search-area .search-wrap {
  position: relative;
  width: 460px;
  height: 42px;
  border: 3px solid #2292e9;
  box-sizing: border-box;
}
.header .search-area .input-text {
  float: left;
  width: calc(100% - 42px);
  border: 0;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
}
.header .search-area .input-text::-moz-placeholder {
  color: #2292e9;
}
.header .search-area .input-text:-ms-input-placeholder {
  color: #2292e9;
}
.header .search-area .input-text::placeholder {
  color: #2292e9;
}
.header .search-area .btn-submit {
  position: absolute;
  right: 0;
  top: 0;
}
.header .search-area .btn-submit::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -32px -97px;
}
.header .weather-area {
  display: flex;
  margin-top: 34px;
  width: 260px;
  height: 85px;
}
.header .weather-area .thumb-box {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 3px;
}
.header .weather-area .info-box {
  display: inline-block;
  margin-left: 5px;
}
.header .weather-area .info-box a {
  display: block;
}
.header .weather-area .degree {
  font-size: 25px;
  margin-right: 5px;
  font-weight: 700;
}
.header .weather-area .current {
  font-size: 16px;
  letter-spacing: -0.1em;
}
.header .weather-area .info2 {
  margin-top: 7px;
  font-size: 13px;
  letter-spacing: -1px;
}
.header .language-area {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.header .language-area #lang {
  width: 80px;
  height: 21px;
  border: 1px solid #afcfea;
  color: #1E6CB3;
  font-size: 12px;
  padding: 0 0 0 2px;
  box-sizing: border-box;
  line-height: 21px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/select-arrow.png) no-repeat no-repeat 96% center;
  background-size: 8px auto;
}
.header .language-area .btn-lang {
  display: inline-block;
  width: 30px;
  height: 21px;
  font-size: 11px;
  color: #fff;
  border: 0;
  background-color: #1E6CB3;
}

.footer .group-flex1 {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.footer .link-area {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  color: #636363;
}
.footer .link-area a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  margin: 0 10px;
  vertical-align: -4px;
  background: #dcdcdc;
}
.footer .link-area a:last-child::after {
  display: none;
}
.footer .link-area strong {
  font-weight: 700;
  color: #222;
}
.footer .sns-area {
  display: flex;
}
.footer .sns-area .link-sns + a {
  margin-left: 12px;
}
.footer .sns-area .link-sns::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background-image: url(../images/sp-bg5.png);
  background-repeat: no-repeat;
  background-size: 175px;
  background-position: -25px 0;
}
.footer .sns-area .link-sns:hover::after {
  background-position: -25px -25px;
}
.footer .sns-area .link-sns.twitter::after {
  background-position: -50px 0;
}
.footer .sns-area .link-sns.twitter:hover::after {
  background-position: -50px -25px;
}
.footer .sns-area .link-sns.instagram::after {
  background-position: -75px 0;
}
.footer .sns-area .link-sns.instagram:hover::after {
  background-position: -75px -25px;
}
.footer .sns-area .link-sns.kakao::after {
  background-position: -100px 0;
}
.footer .sns-area .link-sns.kakao:hover::after {
  background-position: -100px -25px;
}
.footer .sns-area .link-sns.youtube::after {
  background-position: -125px 0;
}
.footer .sns-area .link-sns.youtube:hover::after {
  background-position: -125px -25px;
}
.footer .sns-area .link-sns.blog::after {
  background-position: -150px 0;
}
.footer .sns-area .link-sns.blog:hover::after {
  background-position: -150px -25px;
}
.footer .group-flex2 {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  border-top: 1px solid #ccc;
}
.footer .call-area {
  margin-right: 40px;
}
.footer .call-area::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 108px;
  height: 45px;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -180px 0;
}
.footer .addr-area {
  margin-right: auto;
}
.footer .addr-area span {
  display: block;
  padding-bottom: 2px;
  font-size: 12px;
  color: #636363;
}
.footer .mark-area {
  display: flex;
}
.footer .mark-area a + a {
  margin-left: 10px;
}

.sc-visual {
  display: flex;
  justify-content: space-between;
}
.sc-visual .group-left {
  position: relative;
  display: flex;
  width: 770px;
}
.sc-visual .tab-nav .btn-tab {
  position: relative;
  display: block;
  width: 80px;
  height: 175px;
  padding-top: 50px;
  background-color: #d2e1e9;
  text-align: center;
  color: #333;
  font-weight: 600;
}
.sc-visual .tab-nav .btn-tab.active {
  background-color: #0158a8;
  color: #fff;
}
.sc-visual .tab-nav .btn-tab.active::after {
  content: "";
  position: absolute;
  z-index: 10;
  left: 99%;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 32px;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}
.sc-visual .tab-nav .btn-tab i {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  background-color: #fff;
  background-position: 0 0;
  border-radius: 50%;
  background-image: url(../images/sp-bg3.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 0 0;
}
.sc-visual .tab-nav .btn-tab i.ic-join {
  background-position: -50px 0;
}
.sc-visual .tab-content {
  position: relative;
}
.sc-visual .swiper {
  width: 690px;
  height: 350px;
  overflow: hidden;
  display: none;
}
.sc-visual .swiper:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.sc-visual .swiper.active {
  display: block;
}
.sc-visual .swiper-wrapper {
  display: flex;
  width: 100%;
}
.sc-visual .swiper-slide {
  position: relative;
}
.sc-visual .swiper-slide .thumb-box {
  display: block;
  width: 100%;
}
.sc-visual .swiper-slide .thumb-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-visual .swiper-slide .desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 122px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
.sc-visual .slide-control {
  position: absolute;
  display: flex;
  align-items: center;
  right: 3px;
  bottom: 4px;
  width: 110px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  /* background-color: rgba(0,0,0,.5); */
  box-sizing: border-box;
  z-index: 11;
}
.sc-visual .slide-control .pager {
  display: flex;
  color: #fff;
  letter-spacing: 0;
  font-size: 13px;
}
.sc-visual .slide-control .pager::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 24px;
  margin: 4px 10px;
  background: rgba(255, 255, 255, 0.5);
}
.sc-visual .slide-control .btn {
  display: flex;
  align-items: center;
}
.sc-visual .slide-control .btn::after {
  content: "";
  display: inline-block;
  vertical-align: center;
  width: 18px;
  height: 18px;
  z-index: 10;
  cursor: pointer;
  background-image: url(../images/sp-bg1.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -242px -285px;
}
.sc-visual .slide-control .next::after {
  background-position: -257px -285px;
}
.sc-visual .slide-control .start {
  display: none;
  margin-top: 8px;
}
.sc-visual .slide-control .start::after {
  background-position: -269px -285px;
}
.sc-visual .slide-control .start.active {
  display: inline-block;
}
.sc-visual .slide-control .stop::after {
  background-position: -285px -285px;
}
.sc-visual .group-right {
  width: 360px;
  height: 350px;
}
.sc-visual .group-right > div + div {
  margin-top: 7px;
}
.sc-visual .notice-area {
  width: 100%;
  height: 98px;
  background-image: url(../images/corona-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.sc-visual .notice-area .notice-wrap {
  position: relative;
  display: flex;
  height: 100%;
}
.sc-visual .notice-area .notice-box {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 26px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.075em;
}
.sc-visual .notice-area .notice-box:nth-of-type(1) {
  right: 20px;
  top: 12px;
  left: initial;
  height: 16px;
  margin-left: 25px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.05em;
}
.sc-visual .notice-area .notice-box:nth-of-type(2) {
  top: 32px;
  width: 105px;
  height: 58px;
  margin-left: -160px;
}
.sc-visual .notice-area .notice-box:nth-of-type(3) {
  top: 32px;
  width: 105px;
  height: 58px;
  margin-left: -55px;
}
.sc-visual .notice-area .notice-box:nth-of-type(4) {
  top: 32px;
  width: 110px;
  height: 58px;
  margin-left: 50px;
}
.sc-visual .notice-area .title {
  font-size: 13px;
}
.sc-visual .notice-area .text {
  font-size: 17px;
  margin-top: 2px;
}
.sc-visual .mayor-area {
  position: relative;
}
.sc-visual .mayor-area .link-box {
  position: absolute;
  right: 20px;
  bottom: 12px;
  display: flex;
}
.sc-visual .mayor-area .link-box a + a {
  margin-left: 10px;
}