.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    margin: -1px;
}
.group-flex1,.group-flex2,.inner-wrap{
    width: 1152px;
    margin: 0 auto;
}

.hover{
    display: block;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s;
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
}