.header{
    .group-flex1{
        display: flex;
        justify-content: space-between;
    }
    .logo-area{}
    .sub-logo{
        a{
            &::after{
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 105px;
                height: 27px;
                margin-top: 8px;
                @include sp-bg1;
                background-position: -5px -165px;
            }
        }
    }
    .gnb-area{
        margin-right: auto;
        margin-left: 62px;
    }
    .gnb-list{
        display: flex;
        
    }
    .gnb-item{
        & + li{
            margin-left: 20px;
        }
        a{
            font-size: 16px;
            height: 48px;
            line-height: 48px;
            font-weight: 700;
            &:hover{
                color: #2292e9;
            }
        }
    }
    .login-area{
        display: flex;
        a{
            font-size: 14px;
            height: 48px;
            line-height: 48px;
            font-weight: 700;
            padding: 0 10px;
            
            &:hover{
                color: #2292e9;
            }
        }
    }


    .group-flex2{
        position: relative;
        display: flex;
        justify-content: space-between;
        background: #fff;
        height: 120px;
    }
    .logo-area{}
    .main-logo{
        a{
            &::after{
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 178px;
                height: 51px;
                margin: 38px 0 30px;
                @include sp-logo-bg;
                background-position: 0 0;
            }
        }
    }
    .search-area{
        padding-top: 40px;
        .search-wrap{
            position: relative;
            width: 460px;
            height: 42px;
            margin-left: 37px;
            border: 3px solid #2292e9;
            box-sizing: border-box;
        }
        .input-text{
            float: left;
            width: calc(100% - 42px);
            border: 0;
            padding: 0 10px;
            height: 38px;
            line-height: 38px;
            &::placeholder{
                color: #2292e9;
            }
        }
        .btn-submit{
            position: absolute;
            right: 0;
            top: 0;
            &::after{
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 36px;
                height: 36px;
                @include sp-bg1;
                background-position: -32px -97px;
            }
        }
    }
    .weather-area{
        display: flex;
        margin-top: 34px;
        width: 260px;
        height: 85px;
        .thumb-box{
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;
            margin-left: 3px;
        }
        .info-box{
            display: inline-block;
            // margin: 5px 0 0 5px;
            margin-left: 5px;
            a{
                display: block;
            }
        }
        .info1{}
        .degree{
            font-size: 25px;
            margin-right: 5px;
            font-weight: 700;
        }
        .current{
            font-size: 16px;
            letter-spacing: -0.1em;
        }
        .info2{
            margin-top: 7px;
            font-size: 13px;
            letter-spacing: -1px;
        }
    }
    .language-area{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        #lang{
            width: 80px;
            height: 21px;
            border: 1px solid #afcfea;
            color: #1E6CB3;
            font-size: 12px;
            padding: 0 0 0 2px;
            box-sizing: border-box;
            line-height: 21px;
            appearance: none;
            background: url(../images/select-arrow.png) no-repeat no-repeat 96% center;
            background-size: 8px auto;
        }
        .btn-lang{
            display: inline-block;
            width: 30px;
            height: 21px;
            font-size: 11px;
            color: #fff;
            border: 0;
            background-color: #1E6CB3;
        }
    }
}