.sc-visual{
    display: flex;
    justify-content: space-between;
    .group-left{
        position: relative;
        display: flex;
        width: 770px;
    }
    .tab-nav{
        .btn-tab{
            position: relative;
            display: block;
            width: 80px;
            height: 175px;
            padding-top: 50px;
            background-color:#d2e1e9;
            text-align: center;
            color: #333;
            font-weight: 600;
            &.active{
                background-color: #0158a8;
                color: #fff;
                &::after{
                    content: '';
                    position: absolute;
                    z-index: 10;
                    left: 99%;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 0 25px 32px;
                    border-color: transparent transparent transparent #0158a8;
                    margin-top: -25px;
                }
            }
            i{
                display: block;
                width: 50px;
                height: 50px;
                margin: 0 auto 10px;
                background-color: #fff;
                background-position: 0 0;
                border-radius: 50%;
                @include sp-bg3;
                background-position: 0 0;
                &.ic-join{
                    background-position: -50px 0;
                }
            }
        }
    }
    .tab-content{
        position: relative;
    }
    .swiper{
        width: 690px;
        height: 350px;
        overflow: hidden;
        display: none;
        &:nth-of-type(2){
            position: absolute;
            top: 0;
            left: 0;
        }
        &.active{
            display: block;
        }
    }
    .main-slider{
    }
    .swiper-wrapper{
        display: flex;
        width: 100%;
    }
    .swiper-slide{
        position: relative;
        .thumb-box{
            display: block;
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .desc{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            padding-right: 122px;
            background-color: rgba(0,0,0,.7);
            color: #fff;
            @include ellip;
            box-sizing: border-box;
        }
    }
    .slide-control{
        position: absolute;
        display: flex;
        align-items: center;
        right: 3px;
        bottom: 4px;
        width: 110px;
        height: 32px;
        line-height: 32px;
        border-radius: 16px;
        /* background-color: rgba(0,0,0,.5); */
        box-sizing: border-box;
        z-index: 11;
        .pager{
            display: flex;
            color: #fff;
            letter-spacing: 0;
            font-size: 13px;   
            &::after{
                content: '';
                display: inline-block;
                width: 1px;
                height: 24px;
                margin: 4px 10px;
                background: rgba(255,255,255,.5);
            }
        }
        .auto-play{
        }
        .btn{
            display: flex;
            align-items: center;
            &::after{
                content: '';
                display: inline-block;
                vertical-align: center;
                width: 18px;
                height: 18px;
                z-index: 10;
                cursor: pointer;
                @include sp-bg1;
                background-position: -242px -285px;
            }
        }
        .prev{}
        .next{
            &::after{
                background-position: -257px -285px;
                
            }
        }
        .play{
            display: none;
            margin-top: 8px;
            &::after{
                background-position: -269px -285px;
            }
            &.active{
                display: inline-block;
            }
        }
        .pause{
            display: none;
            margin-top: 8px;
            &::after{
                background-position: -285px -285px;
            }
            &.active{
                display: inline-block;
            }
        }
    }
    .group-right{
        width: 360px;
        height: 350px;
        & > div{
            & + div{
                margin-top: 7px;
            }
        }
    }
    .notice-area{
        width: 100%;
        height: 98px;
        background-image: url(../images/corona-bg.jpg);
        background-repeat: no-repeat;
        background-position: 0 0;
        .notice-wrap{
            position: relative;
            display: flex;
            height: 100%;
        }
        .notice-box{
            position: absolute;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 26px;
            line-height: 26px;
            color: #fff;
            text-align: center;
            font-weight: 700;
            letter-spacing: -0.075em;
            &:nth-of-type(1){
                right: 20px;
                top: 12px;
                left: initial;
                // 포지션초기화
                height: 16px;
                margin-left: 25px;
                line-height: 16px;
                font-size: 12px;
                font-weight: 700;
                color: #000;
                letter-spacing: -0.05em;
            }
            &:nth-of-type(2){
                top: 32px;
                width: 105px;
                height: 58px;
                margin-left: -160px;
            }
            &:nth-of-type(3){
                top: 32px;
                width: 105px;
                height: 58px;
                margin-left: -55px;
            }
            &:nth-of-type(4){
                top: 32px;
                width: 110px;
                height: 58px;
                margin-left: 50px;
            }
        }
        .title{
            font-size: 13px;
        }
        .text{
            font-size: 17px;
            margin-top: 2px;
        }
    }
    .vision-area{}
    .mayor-area{
        position: relative;
        .link-box{
            position: absolute;
            right: 20px;
            bottom: 12px;
            display: flex;
            a{
                & + a{
                    margin-left: 10px;
                }
            }
        }
    }
}

.sc-service{
    position: relative;
    padding-top: 50px;
    .sc-title{
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbdbdb;
    }
    .service-list{
        display: flex;
        text-align: center;
    }
    .service-item{
        flex: 1;
        height: 90px;
        a{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            font-size: 15px;
            &::before{
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 60px;
                height: 60px;
                margin: 0 auto 10px;
                @include sp-bg2;
                background-position: -360px 0;
            }
        }
        &:nth-of-type(2){
            a{
                &::before{
                    background-position: 0 0;
                }
            }
        }
        &:nth-of-type(3){
            a{
                &::before{
                    background-position: -120px 0;
                }
            }
        }
        &:nth-of-type(4){
            a{
                &::before{
                    background-position: -300px 0;
                }
            }
        }
        &:nth-of-type(5){
            a{
                &::before{
                    background-position: -180px 0;
                }
            }
        }
        &:nth-of-type(6){
            a{
                &::before{
                    background-position: -960px 0;
                }
            }
        }
        &:nth-of-type(7){
            a{
                &::before{
                    background-position: -780px 0;
                }
            }
        }
        &:nth-of-type(8){
            a{
                &::before{
                    background-position: -1140px 0;
                }
            }
        }
        &:nth-of-type(9){
            a{
                &::before{
                    background-position: -1020px 0;
                }
            }
        }
        &:nth-of-type(10){
            a{
                &::before{
                    background-position: -60px 0;
                }
            }
        }
        &:nth-of-type(11){
            a{
                &::before{
                    background-position: -600px 0;
                }
            }
        }
    }
    .link-asite{
        position: absolute;
        right: 0;
        top: 50px;
        display: block;
        width: 112px;
        height: 29px;
        line-height: 28px;
        padding-left: 13px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        font-size: 15px;
        background: url(../images/ic-link.png) no-repeat right 13px top 50%;
    }
}
.sc-corona{
    margin-top: 35px;
    background: #eff4f8;
    .corona-list{
        display: flex;
    }
    .corona-item{
        padding: 20px 0;
        a{
            position: relative;
            display: block;
        }
        & + li{
            a{
                &::before{
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 0px;
                    width: 1px;
                    height: 60px;
                    background: #dbdbdb;
                }
            }
        }
    }
}
.line1{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px;
    border-bottom: 2px solid #222222;
    & > section{
        width: calc((100% - 72px) / 3);
    }
}
.sc-board{
    .sc-title{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #dbdbdb;
    }
    .board-list{
    }
    .board-item{
        padding: 6px 0 6px 0;
        width: 100%;
        @include ellip;
    }
    .category{
        margin-right: 9px;
        &.culture{
            color: $color-culture;
        }
        &.work{
            color: $color-work;
        }
        &.house{
            color: $color-house;
        }
        &.wel{
            color: $color-wel;
        }
        &.envi{
            color: $color-envi;
        }
    }
    .text{}
}
.sc-best{
    .sc-title{
        padding-bottom: 10px;
    }
    .best-list{
        display: flex;
        flex-wrap: wrap;
        padding: 17px 5px 7px 20px;
        background: #eff4f8;
    }
    .best-item{
        width: 50%;
        position: relative;
        padding: 0 0 10px 10px;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            height: 2px;
            width: 2px;
            margin-top: -6px;
            background: #666666;
        }

        a{
            display: block;
            width: 94%;
            @include ellip;
            font-size: 15px;
            color: #333;
        }
    }
}
.sc-info{
    padding-top: 40px;
    .sc-title{
        padding-bottom: 20px;
    }
    .info-list{
        display: flex;
        justify-content: space-between;
        padding: 0 27px;
    }
    .info-item{
        width: 85px;
        height: 145px;
        text-align: center;
        a{
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 16px;
            &::before{
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 85px;
                height: 85px;
                margin: 0 auto 12px;
                background-image: url(../images/ic-house.png);
                background-repeat: no-repeat;
            }
        }
        &:nth-child(2){
            a{
                &::before{
                    background-image: url(../images/ic-economy.png);
                }
            }
        }
        &:nth-child(3){
            a{
                &::before{
                    background-image: url(../images/ic-traffic.png);
                }
            }
        }
        &:nth-child(4){
            a{
                &::before{
                    background-image: url(../images/ic-environment.png);
                }
            }
        }
        &:nth-child(5){
            a{
                &::before{
                    background-image: url(../images/ic-welfare.png);
                }
            }
        }
        &:nth-child(6){
            a{
                &::before{
                    background-image: url(../images/ic-safty.png);
                }
            }
        }
        &:nth-child(7){
            a{
                &::before{
                    background-image: url(../images/ic-culture.png);
                }
            }
        }
        &:nth-child(8){
            a{
                &::before{  
                    background-image: url(../images/ic-work.png);
                }
            }
        }
    }
}
.sc-news{
    position: relative;
    padding: 20px 0 30px;
    .sc-title{
        padding-bottom: 20px;
    }
    .news-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .news-item{
        width: calc((100% - 60px) / 4);
        &:nth-child(5n){
            margin-left: 0;
        }
        &:nth-child(n+5){
            margin-top: 20px;
        }
    }
    .thumb-box{
        position: relative;
        display: block;
        width: 100%;
        height: 188px;
        margin-bottom: 15px;
    }
    .category{
        position: absolute;
        top: 156px;
        width: 82px;
        height: 32px;
        color: #fff;
        text-align: center;
        line-height: 32px;
        z-index: 1;
        &.work{
            background-color: $color-work;
        }
        &.culture{
            background-color: $color-culture;
        }
        &.wel{
            background-color: $color-wel;
        }
        &.envi{
            background-color: $color-envi;
        }
    }
    .title{
        @include ellip(1.5em,2);
        font-size: 16px;
        width: 100%;
        height: 3em;
        line-height: 1.5em;
        margin-bottom: 20px;
        word-wrap: normal;
        word-break: keep-all;
    }
    .btn-more{
        position: absolute;
        top: 36px;
        right: 0;
        display: inline-block;
        width: 75px;
        @include sp-bg1;
        background-position: 0 -259px;
        font-size: 15px;
        color: #7d7d7d;
    }
}
.line2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #000;
    .sc-title{
        padding-bottom: 11px;
    }
}
.sc-video{
    width: 280px;
    .thumb-box{
        position: relative;
    }
    .desc{
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        padding: 11px 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        @include ellip;
        vertical-align: middle;
        background-color: rgba(0,0,0,.5);
        box-sizing: border-box;
    }
}
.sc-notice{
    width: 478px;
}
.notice-list{}
.notice-item{
    padding: 8px 0;
    width: 100%;
    @include ellip;
    font-size: 16px;
    color: #555555;
}
.category{
    font-size: 16px;
    font-weight: 400;
    color: #09ac43;
    margin-right: 18px;
}
.desc{
    color: #555;
}
.sc-sns{
    position: relative;
    width: 350px;
    background-image: url(../images/sns-list.jpg);
    background-repeat: no-repeat;
    background-position: center;

    .sc-title{
        position: absolute;
        top: 10px;
        left: 15px;
        display: inline-block;
        padding-right: 50px;
        font-size: 22px;
        font-weight: 600;
        &::after{
            content: '';
            position: absolute;
            top: 2px;
            right: 0;
            display: inline-block;
            width: 34px;
            height: 24px;
            @include sp-bg4;
            background-position: -247px 0;
            border-left: 1px solid #878787;
            padding-right: 6px;
        }
    }
    .link-snspage{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 15px;
    }
    .sns-wrap{
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        width: 276px;
        height: 40px;
        gap: 3px;
    }
    .link-sns{
        display: block;
        width: 40px;
        height: 40px;
        @include sp-bg4;
        background-position: 0 0;

        &.facebook{
            background-position: -40px 0;
        }
        &.twitter{
            background-position: -80px 0;
        }
        &.blog{
            background-position: -120px 0;
        }
        &.youtube{
            background-position: -160px 0;
        }
        &.kakao{
            background-position: -200px 0;
        }
    }
}
.sc-popup{
    padding: 50px 0;
    .swiper{
        overflow: hidden;
    }
    .swiper-wrapper{
        display: flex;
    }
    .swiper-slide{
        display: block;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .slide-control{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 32px;
        margin-top: 5px;
    }
    .pager{
        display: flex;
        order: 1;
        margin-right: 10px;
    }
    .navi{
        display: flex;
    }   
    .btn{
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #999;
        border-right: 0;
        overflow: hidden;
        @include sp-bg1;
        &.prev{
            background-position: -45px -43px;
        }
        &.next{
            border-right: 1px solid #999;
            background-position: -86px -43px;
        }
        &.play{
            display: none;
            background-position: -65px -43px;
            &.active{
                display: block;
            }
        }
        &.pause{
            display: none;
            background-position: -101px -43px;
            &.active{
                display: block;
            }
        }
    }
    .thumb-box{
        display: block;
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}
.sc-site{
    .site-list{
        position: relative;
        display: flex;
        background-color: #d0d0d0;
        border-top:1px solid #d0d0d0;
        border-bottom:1px solid #d0d0d0;
    }
    .site-item{
        width: 33.333%;
        border-left: 1px solid #d0d0d0;
        background: #f7f7f7;
        color: #333;
        text-align: center;
        &:last-child{
            border-right: 1px solid #d0d0d0;
        }
        & > a{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding: 16px 0;
            &.active{
                background-color: #e2e2e2;
            }
        }
        .ic-arrow{
            position: absolute;
            top: 20px;
            display: inline-block;
            height: 9px;
            width: 9px;
            margin-left: 11px;
            border-style: solid;
            border-color: #373737;
            border-width: 0px 2px 2px 0px;
            transform: rotate(-135deg);
            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform-origin: center center;
            &.active{
                top: 20px;
                transform: rotate(45deg);
                transform-origin: center center;
            }
        }
    }
    .sub-list{
        position: absolute;
        bottom: 50px;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 20px 20px;
        background: #fff;
        border: 1px solid #d0d0d0;
        border-bottom: 0;
        box-sizing: border-box;
        z-index: 10;
    }
    .sub-item{
        width: 25%;
        margin-top: 10px;
        text-align: left;
        a{
            color: #555;
        }
    }
}