.sc-visual{
    display: flex;
    justify-content: space-between;
    .group-left{
        position: relative;
        display: flex;
        width: 770px;
    }
    .tab-nav{
        .btn-tab{
            position: relative;
            display: block;
            width: 80px;
            height: 175px;
            padding-top: 50px;
            background-color:#d2e1e9;
            text-align: center;
            color: #333;
            font-weight: 600;
            &.active{
                background-color: #0158a8;
                color: #fff;
                &::after{
                    content: '';
                    position: absolute;
                    z-index: 10;
                    left: 99%;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 0 25px 32px;
                    border-color: transparent transparent transparent #0158a8;
                    margin-top: -25px;
                }
            }
            i{
                display: block;
                width: 50px;
                height: 50px;
                margin: 0 auto 10px;
                background-color: #fff;
                background-position: 0 0;
                border-radius: 50%;
                @include sp-bg3;
                background-position: 0 0;
                &.ic-join{
                    background-position: -50px 0;
                }
            }
        }
    }
    .tab-content{
        position: relative;
    }
    .swiper{
        width: 690px;
        height: 350px;
        overflow: hidden;
        display: none;
        &:nth-of-type(2){
            position: absolute;
            top: 0;
            left: 0;
        }
        &.active{
            display: block;
        }
    }
    .main-slider{
    }
    .swiper-wrapper{
        display: flex;
        width: 100%;
    }
    .swiper-slide{
        position: relative;
        .thumb-box{
            display: block;
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .desc{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            padding-right: 122px;
            background-color: rgba(0,0,0,.7);
            color: #fff;
            @include ellip;
            box-sizing: border-box;
        }
    }
    .slide-control{
        position: absolute;
        display: flex;
        align-items: center;
        right: 3px;
        bottom: 4px;
        width: 110px;
        height: 32px;
        line-height: 32px;
        border-radius: 16px;
        /* background-color: rgba(0,0,0,.5); */
        box-sizing: border-box;
        z-index: 11;
        .pager{
            display: flex;
            color: #fff;
            letter-spacing: 0;
            font-size: 13px;   
            &::after{
                content: '';
                display: inline-block;
                width: 1px;
                height: 24px;
                margin: 4px 10px;
                background: rgba(255,255,255,.5);
            }
        }
        .auto-play{
        }
        .btn{
            display: flex;
            align-items: center;
            &::after{
                content: '';
                display: inline-block;
                vertical-align: center;
                width: 18px;
                height: 18px;
                z-index: 10;
                cursor: pointer;
                @include sp-bg1;
                background-position: -242px -285px;
            }
        }
        .prev{}
        .next{
            &::after{
                background-position: -257px -285px;
                
            }
        }
        .play{
            display: none;
            margin-top: 8px;
            &::after{
                background-position: -269px -285px;
            }
            &.active{
                display: inline-block;
            }
        }
        .pause{
            display: none;
            margin-top: 8px;
            &::after{
                background-position: -285px -285px;
            }
            &.active{
                display: inline-block;
            }
        }
    }
    .group-right{
        width: 360px;
        height: 350px;
        & > div{
            & + div{
                margin-top: 7px;
            }
        }
    }
    .notice-area{
        width: 100%;
        height: 98px;
        background-image: url(../images/corona-bg.jpg);
        background-repeat: no-repeat;
        background-position: 0 0;
        .notice-wrap{
            position: relative;
            display: flex;
            height: 100%;
        }
        .notice-box{
            position: absolute;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 26px;
            line-height: 26px;
            color: #fff;
            text-align: center;
            font-weight: 700;
            letter-spacing: -0.075em;
            &:nth-of-type(1){
                right: 20px;
                top: 12px;
                left: initial;
                // 포지션초기화
                height: 16px;
                margin-left: 25px;
                line-height: 16px;
                font-size: 12px;
                font-weight: 700;
                color: #000;
                letter-spacing: -0.05em;
            }
            &:nth-of-type(2){
                top: 32px;
                width: 105px;
                height: 58px;
                margin-left: -160px;
            }
            &:nth-of-type(3){
                top: 32px;
                width: 105px;
                height: 58px;
                margin-left: -55px;
            }
            &:nth-of-type(4){
                top: 32px;
                width: 110px;
                height: 58px;
                margin-left: 50px;
            }
        }
        .title{
            font-size: 13px;
        }
        .text{
            font-size: 17px;
            margin-top: 2px;
        }
    }
    .vision-area{}
    .mayor-area{
        position: relative;
        .link-box{
            position: absolute;
            right: 20px;
            bottom: 12px;
            display: flex;
            a{
                & + a{
                    margin-left: 10px;
                }
            }
        }
    }
}

.sc-service{
    position: relative;
    padding-top: 50px;
    .sc-title{
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbdbdb;
    }
    .service-list{
        display: flex;
        text-align: center;
    }
    .service-item{
        flex: 1;
        height: 90px;
        a{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            font-size: 15px;
            &::before{
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 60px;
                height: 60px;
                margin: 0 auto 10px;
                @include sp-bg2;
                background-position: -360px 0;
            }
        }
        &:nth-of-type(2){
            a{
                &::before{
                    background-position: 0 0;
                }
            }
        }
        &:nth-of-type(3){
            a{
                &::before{
                    background-position: -120px 0;
                }
            }
        }
        &:nth-of-type(4){
            a{
                &::before{
                    background-position: -300px 0;
                }
            }
        }
        &:nth-of-type(5){
            a{
                &::before{
                    background-position: -180px 0;
                }
            }
        }
        &:nth-of-type(6){
            a{
                &::before{
                    background-position: -960px 0;
                }
            }
        }
        &:nth-of-type(7){
            a{
                &::before{
                    background-position: -780px 0;
                }
            }
        }
        &:nth-of-type(8){
            a{
                &::before{
                    background-position: -1140px 0;
                }
            }
        }
        &:nth-of-type(9){
            a{
                &::before{
                    background-position: -1020px 0;
                }
            }
        }
        &:nth-of-type(10){
            a{
                &::before{
                    background-position: -60px 0;
                }
            }
        }
        &:nth-of-type(11){
            a{
                &::before{
                    background-position: -600px 0;
                }
            }
        }
    }
    .link-asite{
        position: absolute;
        position: absolute;
        right: 0;
        top: 50px;
        display: block;
        width: 112px;
        height: 29px;
        line-height: 28px;
        padding-left: 13px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        font-size: 15px;
        background: url(../images/ic-link.png) no-repeat right 13px top 50%;
    }
}
.sc-corona{
    margin-top: 35px;
    background: #eff4f8;
    .corona-list{
        display: flex;
    }
    .corona-item{
        padding: 20px 0;
        a{
            position: relative;
            display: block;
        }
        & + li{
            a{
                &::before{
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 0px;
                    width: 1px;
                    height: 60px;
                    background: #dbdbdb;
                }
            }
        }
    }
}
.line{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px;
    border-bottom: 2px solid #222222;
    & > section{
        width: calc((100% - 72px) / 3);
    }
}
.sc-board{
    .sc-title{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #dbdbdb;
    }
    .board-list{
    }
    .board-item{
        padding: 6px 0 6px 0;
        width: 100%;
        @include ellip;
    }
    .category{
        margin-right: 9px;
        &.culture{
            color: $color-culture;
        }
        &.work{
            color: $color-work;
        }
        &.house{
            color: $color-house;
        }
        &.wel{
            color: $color-wel;
        }
        &.envi{
            color: $color-envi;
        }
    }
    .text{}
}
.sc-best{
    .sc-title{
        padding-bottom: 10px;
    }
    .best-list{
        display: flex;
        flex-wrap: wrap;
        padding: 17px 5px 7px 20px;
        background: #eff4f8;
    }
    .best-item{
        width: 50%;
        position: relative;
        padding: 0 0 10px 10px;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            height: 2px;
            width: 2px;
            margin-top: -6px;
            background: #666666;
        }

        a{
            display: block;
            width: 94%;
            @include ellip;
            font-size: 15px;
            color: #333;
        }
    }
}