$color-dark1:#222;
$color-gray1:#636363;
$color-work:#028ab6;
$color-envi:#599100;
$color-traffic:#337ee2;
$color-wel:#d76000;
$color-culture:#9b64d3;
$color-house:#c35c3c;

$font-kr1:'Nanum Gothic', sans-serif;

